
{% extends "base.html.twig" %}
{#c'est le template associe à notre formulaire de productType #}

{%block stylesheets %}
<link href="{{asset('css/selectize.css')}}" rel="stylesheet"/>
<!--on utilise asset pour aller chercher directeent dans le dossier public-->
{%endblock%}

{% block body %}
    <div class="row">
        <div class="mx-auto col-md-6">
            {{form_start(form) }}
            {{form_widget(form) }}
            {{form_end(form) }}
            <a class="btn btn-primary" href="{{path('product')}}">Revenir à mes produits</a>
        </div>
    </div>
{% endblock %}

{%block javascripts %}
<script src="{{asset('js/selectize.js')}}"></script>
<!--on utilise asset pour aller chercher directeent dans le dossier public-->
{%endblock%}
